:root {
    //BACKGROUNDS
        --color-background-header: #FBF6F6;
        --color-background-main: linear-gradient(162.44deg, #FFFFFF 22.4%, #ECE0D1 77.08%);
        --color-background-footer: #161616;

    //TEXT
        --color-text-header: #322F2F;
        --color-text-main: #322F2F;
        --color-text-white: #FEFCFC;
        
    //BUTTONS
        --color-background-musicians:  linear-gradient(180deg, rgba(99, 72, 50, 0.64) 0%, #634832 100%); 
    }